{% extends "layout.html" %}
{% block content %}
  <p>This is a platform that serves data and analytics from the Pokemon series. At this moment,
      it just has an API that provides information about the Pokemon's. In the future this project
      will host statistics and visualizations about the series. In other words, my vision is to have
      a data analytics platform for Pokemon.</p>
  <p>This application is written in Python. It uses Flask as the web framework, and MongoDB as the database.</p>
{% endblock %}